@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Staatliches&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}

body {
    overflow: overlay;
}

/*---------------------------------------- Conteúdo cabeçalho ----------------------------------------*/


.cabecalho {
    width: 100vw;
    height: 10vh;
    background: var(--cor-preta);

    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.cabecalho-menu {
    display: flex;
    position: absolute;
    right: 30px;
    gap: 35px;
}

.cabecalho-menu-item {
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    color: var(--cor-branca);

    transition: all 500ms;
}

.cabecalho-menu-item:hover {
    color: var(--cor-azul);
}


/*---------------------------------------- Conteúdo principal ----------------------------------------*/


#secao-um,
.secao-um-container-um,
.secao-um-container-dois {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;

    background-image: url("/imagens/background7.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.secao-um-container-um,
.secao-um-container-dois {
    width: 50%;
    height: 100%;
    position: relative;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    text-shadow: 0px 6px 6px var(--cor-preta);
}

.secao-um-container-um-texto {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    top: 180px;
    gap: 5px;
}

.secao-um-container-um-nome,
.secao-um-container-um-profissao {
    color: var(--cor-branca);
    font-size: 30px;
}

.secao-um-container-um-profissao{
    font-size: 25px;
}

.secao-um-container-um-links {
    position: absolute;
    bottom: 90px;
    display: flex;
    flex-direction: row;
    align-content: center;
    column-gap: 40px;
}

.secao-um-container-dois {
    background: var(--cor-preta-menos-transaparente);
    backdrop-filter: blur(6px);
    justify-content: center;
}

.secao-um-container-dois-foto {
    height: 200px;
    width: 190px;
    border: 2px solid var(--cor-azul);
    margin-top: 80px;
    margin-bottom: 30px;
}

.secao-um-container-dois-titulo {
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--cor-azul);
    border-bottom: 1px solid var(--cor-branca);
}

.secao-um-container-dois-texto {
    width: 500px;
    color: var(--cor-branca);
    text-align: justify;
    text-indent: 30px;
}

.conteudo-principal-apresentacao-um-texto,
.conteudo-principal-apresentacao-um-logos,
.secao-um-container-dois-foto,
.secao-um-container-dois-titulo,
.secao-um-container-dois-texto {
    visibility: hidden;
}


/*---------------------------------------- Conteúdo secundário ----------------------------------------*/


#secao-dois,
.secao-dois-container {
    width: 100%;
    height: 90vh;
    background-image: url("/imagens/background3.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secao-dois-container {
    height: 100%;
    position: relative;
    flex-direction: column;
    row-gap: 10px;
    z-index: 0;
}

.secao-dois-titulo {
    position: absolute;
    top: 50px;
    color: var(--cor-azul);
    border-bottom: 1px solid var(--cor-preta);
}

.secao-dois-projetos {
    width: 80%;
    height: 75%;

    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.secao-dois-projetos-slide {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;

    transition: all 1s;
}

.secao-dois-projetos-slide-imagem {
    width: 55%;
    height: 100%;
    border: 1px solid var(--cor-azul);
}

.secao-dois-projetos-slide-conteudo {
    width: 25%;
    height: 100%;
    background-color: var(--cor-preta-menos-transaparente);

    display: flex;
    flex-direction: column;
}

.secao-dois-projetos-slide-conteudo-titulo {
    width: 100%;
    color: var(--cor-branca);
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--cor-azul);
    margin-top: 5px;
}

.secao-dois-projetos-slide-conteudo-container-um {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.secao-dois-projetos-slide-conteudo-texto {
    padding: 12px;
    font-size: 12px;
    color: var(--cor-branca);
    text-align: justify;
}

.secao-dois-projetos-slide-conteudo-container-dois {
    width: 100%;
    height: 30%;
    background-color: var(--cor-preta-mais-transaparente);
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.secao-dois-projetos-slide-conteudo-botoes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 10px;
}

.secao-dois-projetos-slide-conteudo-botao {
    width: 150px;
    height: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: var(--cor-preta);
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    transition: all .5s;
} 

.secao-dois-projetos-slide-conteudo-dois-botao:hover {
    background-color: var(--cor-azul);
    border: none;
}

.swiper-pagination-bullet {
    position: relative;
    bottom: 60px;
    width: 20px;
    height: 8px;
    border-radius: 25px;
    background-color: var(--cor-azul);
}

.swiper-button-next,
.swiper-button-prev {
    right: 80px;
    color: var(--cor-azul);
    transition: all 500ms;
}

.swiper-button-prev {
    left: 80px;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    color: var(--cor-azul-menos-transparente);
}


/*---------------------------------------- Conteúdo terciário ----------------------------------------*/


#conteudo-terciario,
.conteudo-terciario {
    width: 100%;
    height: 90vh;

    background: transparent;
    background-image: url("/imagens/background7.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
}

.conteudo-terciario {
    width: 90%;
    height: 75%;
    flex-direction: row;
    column-gap: 10px;
}

.conteudo-terciario-titulo {
    border-bottom: 1px solid var(--cor-azul);
    top: 50px;
    margin-bottom: 10px;
    color: var(--cor-branca);
}

.conteudo-terciario-parte-um,
.conteudo-terciario-parte-dois {
    width: 70%;
    height: 100%;
    background-color: var(--cor-branca-menos-transaparente);
    backdrop-filter: blur(6px);
}

.conteudo-terciario-parte-dois {
    width: 30%;
}

.conteudo-terciario-parte-um-principal-tecnologias-titulo {
    width: 100%;
    height: 50px;
    color: var(--cor-branca);
    border-bottom: 1px solid var(--cor-azul);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-preta-menos-transaparente);
}

.conteudo-terciario-parte-um-principal-tecnologias-sla {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.conteudo-terciario-parte-um-principal-tecnologias-parte-um,
.conteudo-terciario-parte-um-principal-tecnologias-parte-um-nivel {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 35px;
    justify-content: center;
    background-color: var(--cor-preta-mais-transaparente);
    
}

.conteudo-terciario-parte-um-principal-tecnologias-parte-um-nivel {
    row-gap: 57px;
}

.conteudo-terciario-parte-um-principal-tecnologias-parte-um-nivel-circulos {
    margin-right: 6px;
    padding-left: 0;
    display: flex;
    column-gap: 6px;
}

.conteudo-terciario-parte-um-principal-tecnologias-parte-um-nome {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: var(--cor-preta);
    display: flex;
    column-gap: 10px;
    padding-left: 20px;
    align-items: center;
}

.conteudo-terciario-parte-um-principal {
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
}

.conteudo-terciario-parte-um-principal-tecnologias {
    width: 270px;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--cor-azul);
}

.conteudo-terciario-parte-um-principal-conhecimentos{
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.lista-conhecimentos,
.lista-conhecimentos-horizontal{
    list-style-position: inside;
    text-align: start;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.lista-conhecimentos-horizontal{
    column-gap: 30px;
    flex-wrap: wrap;
    flex-direction: row;
}

.conteudo-terciario-parte-um-principal-conhecimentos-outros,
.conteudo-terciario-parte-um-principal-conhecimentos-uxui,
.conteudo-terciario-parte-um-principal-conhecimentos-backend,
.conteudo-terciario-parte-um-principal-conhecimentos-frontend{
    width: 29%;
    height: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 20px;
}

.conteudo-terciario-parte-um-principal-conhecimentos-outros{
    width: 85%;
    height: 40%;

    padding-top: 30px;
}

.titulo-h4{
    font-size: 16px;
    color: var(--cor-preta);
    text-align: start;
}

/*---------------------------------------- Conteudo terciario parte 2 ----------------------------------------*/

.conteudo-terciario-parte-dois-formacoes,
.conteudo-terciario-parte-dois-certificacoes {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.conteudo-terciario-parte-dois-certificacoes {
    height: 60%;
}

.conteudo-terciario-parte-dois-formacoes-titulo,
.conteudo-terciario-parte-dois-certificacoes-titulo {
    width: 100%;
    height: 45px;
    color: var(--cor-branca);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    border-bottom: 1px solid var(--cor-azul);
    background-color: var(--cor-preta-menos-transaparente);
}

.conteudo-terciario-parte-dois-formacoes-conteudo {
    width: 310px;
    height: 90px;
    background-color: var(--cor-preta-mais-transaparente);
    margin-top: 15px;
    flex-shrink: 0;
    font-size: 14px;
    color: var(--cor-preta);
    text-align: start;
    padding: 10px;
}


/*---------------------------------------- Rodapé ----------------------------------------*/


.rodape {
    width: 100%;
    background-color: var(--cor-preta);

    display: flex;
    justify-content: center;
}


/*---------------------------------------- Responsividade 768x ----------------------------------------*/


@media screen and (max-width: 768px) {

    .cabecalho-logo {
        left: 10px;
    }

    .cabecalho-menu {
        gap: 10px;
        right: 10px;
    }

    #conteudo-principal {
        height: 210vh;

        display: flex;
        flex-direction: column;
    }

    .conteudo-principal-apresentacao-um {
        width: 100%;
        height: 100vh;
    }

    .conteudo-principal-apresentacao-um-texto {
        font-size: 25px;
    }

    .secao-um-links-btn {
        bottom: 30px;
    }

    .conteudo-principal-apresentacao-dois {
        width: 100%;
        height: 110vh;
    }


}


/*---------------------------------------- Responsividade celular ----------------------------------------*/