@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Staatliches&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-preta: rgba(0, 0, 0);
    --cor-preta-menos-transaparente: rgba(0, 0, 0, 0.7);
    --cor-preta-mais-transaparente: rgba(0, 0, 0, 0.4);
    --cor-branca: rgba(255, 255, 255);
    --cor-branca-menos-transaparente: rgba(255, 255, 255, 0.7) --cor-cinza: rgb(200, 200, 200);
    --cor-azul: rgba(100, 100, 255);
    --cor-azul-menos-transparente: rgba(50, 50, 255, 0.4);
}

html {
    scroll-behavior: smooth;
}

body {
    overflow: overlay;
}

/*---------------------------------------- Scrollbar ----------------------------------------*/

::-webkit-scrollbar {
    width: 10px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 0.5px solid var(--cor-preta);
    background: var(--cor-preta-menos-transaparente);
}

::-webkit-scrollbar-corner {
    border-radius: 10px;
}


/*---------------------------------------- Conteúdo cabeçalho ----------------------------------------*/


.cabecalho {
    width: 100%;
    height: 10vh;
    background: var(--cor-preta);

    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.cabecalho-logo {
    width: 150px;
    height: 70px;

    position: absolute;
    left: 20px;
}

.cabecalho-menu {
    display: flex;
    position: absolute;
    right: 30px;
    gap: 35px;
}

.cabecalho-menu-item {
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: var(--cor-branca);

    transition: all 500ms;
}

.cabecalho-menu-item:hover {
    color: var(--cor-azul);
}


/*---------------------------------------- Conteúdo principal ----------------------------------------*/


/*---------------------------------------- Conteúdo principal parte 1 ----------------------------------------*/


#conteudo-principal {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: row;

    background-image: url("/imagens/background.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.conteudo-principal-apresentacao-um {
    width: 50%;
    height: 100vh;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

    text-shadow: 0px 6px 6px var(--cor-preta);
}

.conteudo-principal-apresentacao-um-texto {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    top: 180px;
    gap: 5px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
}

.conteudo-principal-apresentacao-um-texto-nome {
    color: var(--cor-branca);

    font-size: 35px;
}

.conteudo-principal-apresentacao-um-texto-ocupacao {
    color: var(--cor-azul);

    font-size: 25px;
}

.conteudo-principal-apresentacao-um-logos {
    position: absolute;
    bottom: 90px;
    display: flex;
    flex-direction: row;
    align-content: center;
    column-gap: 40px;
}

.fa-linkedin-in {
    color: var(--cor-branca);
    font-size: 35px;
    transition: all 500ms;
}

.fa-linkedin-in:hover {
    color: var(--cor-azul);
}

.fa-github {
    color: var(--cor-branca);
    font-size: 35px;
    transition: all 500ms;
}

.fa-github:hover {
    color: var(--cor-azul);
}

.fa-file-arrow-down {
    color: var(--cor-branca);
    font-size: 35px;
    transition: all 500ms;
}

.fa-file-arrow-down:hover {
    color: var(--cor-azul);
}


/*---------------------------------------- Conteúdo principal parte 2 ----------------------------------------*/


.conteudo-principal-apresentacao-dois {
    width: 50%;
    height: 100vh;
    background: var(--cor-preta-menos-transaparente);
    backdrop-filter: blur(6px);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conteudo-principal-apresentacao-dois-retrato {
    height: 200px;
    width: 190px;
    border-radius: 50%;
    border: 2px solid var(--cor-branca);
    background-color: var(--cor-azul-menos-transparente);

    margin-top: 80px;
    margin-bottom: 30px;
}

.conteudo-principal-apresentacao-dois-titulo {
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--cor-azul);

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    border-bottom: 1px solid var(--cor-branca);
}

.conteudo-principal-apresentacao-dois-texto {
    color: var(--cor-branca);

    display: flex;
    text-align: justify;
    text-indent: 30px;
    margin-left: 15%;
    margin-right: 15%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
}

.conteudo-principal-apresentacao-um-texto,
.conteudo-principal-apresentacao-um-logos,
.conteudo-principal-apresentacao-dois-retrato,
.conteudo-principal-apresentacao-dois-titulo,
.conteudo-principal-apresentacao-dois-texto {
    visibility: hidden;
}


/*---------------------------------------- Conteúdo secundário ----------------------------------------*/


#conteudo-secundario {
    width: 100%;
    height: 90vh;
    background-image: url("/imagens/background3.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudo-secundario {
    width: 100%;
    height: 100%;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    z-index: 0;
}

.conteudo-secundario-titulo {
    border-bottom: 1px solid var(--cor-preta);
    position: absolute;
    top: 40px;
    margin-bottom: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    color: var(--cor-azul);
}

.conteudo-secundario-projetos {
    width: 80%;
    height: 75%;

    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.conteudo-secundario-projetos-slide {
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: row;

    transition: all 1s;
}

.conteudo-secundario-projetos-slide-imagem {
    width: 53%;
    height: 100%;
    border: 1px solid var(--cor-azul);
}

.conteudo-secundario-projetos-slide-conteudo {
    width: 27%;
    height: 100%;
    background-color: var(--cor-preta-menos-transaparente);

    display: flex;
    flex-direction: column;
}

.conteudo-secundario-projetos-slide-conteudo-um-titulo,
.conteudo-secundario-projetos-slide-conteudo-dois-titulo {
    width: 100%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: var(--cor-branca);
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--cor-azul);
    margin-top: 5px;
}

.conteudo-secundario-projetos-slide-conteudo-um {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.conteudo-secundario-projetos-slide-conteudo-um-texto {
    padding: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: var(--cor-branca);
    text-align: justify;
}

.conteudo-secundario-projetos-slide-conteudo-dois {
    width: 100%;
    height: 30%;
    background-color: var(--cor-preta-mais-transaparente);
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.conteudo-secundario-projetos-slide-conteudo-dois-botoess {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 10px;
}

.conteudo-secundario-projetos-slide-conteudo-dois-botoes {
    width: 150px;
    height: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: var(--cor-preta);
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    transition: all .5s;
}

.fa-file {
    color: var(--cor-preta);
    font-size: 20px;
}

.fa-code {
    color: var(--cor-preta);
    font-size: 20px;
}

.conteudo-secundario-projetos-slide-conteudo-dois-botoes:hover {
    background-color: var(--cor-azul);
    border: none;
}

.swiper-pagination-bullet {
    position: relative;
    bottom: 50px;
    width: 26px;
    height: 10px;
    border-radius: 25px;
    background-color: var(--cor-azul);
}

.swiper-button-next,
.swiper-button-prev {
    right: 70px;
    color: var(--cor-azul);
    transition: all 500ms;
}

.swiper-button-prev {
    left: 70px;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    color: var(--cor-azul-menos-transparente);
}


/*---------------------------------------- Conteúdo terciário ----------------------------------------*/


#conteudo-terciario {
    width: 100%;
    height: 90vh;

    display: flex;
    flex-direction: row;

    background: transparent;
    background-image: url("/imagens/background.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
}

.conteudo-terciario {
    width: 85%;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(6px);
    border-radius: 10px;
}


/*---------------------------------------- Rodapé ----------------------------------------*/


.rodape {
    width: 100%;
    background-color: var(--cor-preta);

    display: flex;
    justify-content: center;
}

.rodape-logo {
    width: 180px;
    height: 90px;
    padding: 5px;
}


/*---------------------------------------- Responsividade 768x ----------------------------------------*/


@media screen and (max-width: 768px) {

    .cabecalho-logo {
        left: 10px;
    }

    .cabecalho-menu {
        gap: 10px;
        right: 10px;
    }

    #conteudo-principal {
        height: 210vh;

        display: flex;
        flex-direction: column;
    }

    .conteudo-principal-apresentacao-um {
        width: 100%;
        height: 100vh;
    }

    .conteudo-principal-apresentacao-um-texto {
        font-size: 25px;
    }

    .conteudo-principal-apresentacao-um-logos-botao {
        bottom: 30px;
    }

    .conteudo-principal-apresentacao-um-logos-botao-logo {
        width: 40px;
        height: 40px;
    }

    .conteudo-principal-apresentacao-dois {
        width: 100%;
        height: 110vh;
    }


}


/*---------------------------------------- Responsividade celular ----------------------------------------*/