@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Staatliches&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor-preta: rgba(0, 0, 0);
    --cor-preta-menos-transaparente: rgba(0, 0, 0, 0.7);
    --cor-preta-mais-transaparente: rgba(0, 0, 0, 0.4);
    --cor-branca: rgba(255, 255, 255);
    --cor-cinza: rgb(200, 200, 200);
    --cor-azul: rgba(40,120,255);
}

html{
    scroll-behavior: smooth;
}

body{
    overflow: overlay;
}

/*---------- Scrollbar ----------*/

::-webkit-scrollbar{
    width: 10px;
    background: transparent;
}

::-webkit-scrollbar-thumb{
    border-radius: 10px;
    border: 0.5px solid var(--cor-preta);
    background: var(--cor-preta-menos-transaparente);
}

::-webkit-scrollbar-corner{
    border-radius: 10px;
}

/*---------- Cabeçalho ----------*/

.cabecalho{
    width: 100%;
    height: 11vh;
    background: var(--cor-preta);

    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.cabecalho-logo{
    width: 150px;
    height: 70px;

    position: absolute;    
    left: 20px;
}

.cabecalho-menu{
    display: flex;
    position: absolute;
    right: 30px;
    gap: 25px;
}

.cabecalho-menu-item{   
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: var(--cor-branca);

    transition: all 500ms;
}

.cabecalho-menu-item:hover{
    color: var(--cor-azul);
}

/*---------- Conteúdo principal ----------*/

/*---------- Conteúdo principal parte 1----------*/

#conteudo-principal{
    width: 100%;
    height: 85vh;
    
    display: flex;
    flex-direction: row;

    background-image: url("/imagens/background.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.conteudo-principal-apresentacao-um{
    height: 85vh;
    width: 50%;
    
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.conteudo-principal-apresentacao-um-texto{
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    top: 180px;
    gap: 5px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
}

.conteudo-principal-apresentacao-um-texto-nome{
    color: var(--cor-branca);

    font-size: 35px;
}

.conteudo-principal-apresentacao-um-texto-ocupacao{
    color: var(--cor-azul);

    font-size: 25px;
}

.conteudo-principal-apresentacao-um-logos{
    position: absolute;
    bottom: 40px;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    row-gap: 15px;
    column-gap: 20px;
}

.conteudo-principal-apresentacao-um-logos-botao{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;

    Font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;

    cursor: pointer;
    transition: all 500ms;
}

.conteudo-principal-apresentacao-um-logos-botao-logo{
    width: 35px;
    height: 35px;
    color: var(--cor-branca);
}

.conteudo-principal-apresentacao-um-logos-botao:hover{
    transform: scale(1.05);
    background-color: var(--cor-azul);
}

/*---------- Conteúdo principal parte 2----------*/

.conteudo-principal-apresentacao-dois{
    height: 85vh;
    width: 50%;
    background: var(--cor-preta-menos-transaparente);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    backdrop-filter: blur(6px);
}

.conteudo-principal-apresentacao-dois-retrato{
    height: 200px;
    width: 190px;
    border-radius: 50%;
    border: 1px solid var(--cor-branca);

    margin-top: 50px;
}

.conteudo-principal-apresentacao-dois-titulo{
    padding: 5px;
    margin-top: 20px;
    color: var(--cor-azul);

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}

.conteudo-principal-apresentacao-dois-texto{
    color: var(--cor-branca);

    display: flex;
    text-align: justify;
    margin-left: 20%;
    margin-right: 20%;

    font-family: 'Poppins'; 
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
}

.conteudo-principal-apresentacao-um-texto, .conteudo-principal-apresentacao-um-logos, .conteudo-principal-apresentacao-dois-retrato, .conteudo-principal-apresentacao-dois-titulo, .conteudo-principal-apresentacao-dois-texto {
    visibility: hidden;
}

/*---------- Conteúdo secundário ----------*/

#conteudo-secundario{
    height: 100vh;
    width: 100%;
    background-image: url("/imagens/background2.jpg");
}

.conteudo-secundario-titulo{
    padding: 10px;
    color: var(--cor-preta);

    display: flex;
    justify-content: center;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

/*---------- Rodapé ----------*/

.rodape{
    width: 100%;
    background-color: var(--cor-preta);

    display: flex;
    justify-content: center;
}

.rodape-logo{
    width: 180px;
    height: 90px;
    padding: 5px;
}

/*---------- Responsividade tablet ----------*/

@media screen and (max-width: 768px) {

    .cabecalho-logo {
        left: 10px;
    }

    .cabecalho-menu {
        gap: 10px;
        right: 10px;
    }

    #conteudo-principal{
        height: 210vh;

        display: flex;
        flex-direction: column;
    }

    .conteudo-principal-apresentacao-um {
        width: 100%;
        height: 100vh;
    }

    .conteudo-principal-apresentacao-um-texto {
        font-size: 25px;
    }

    .conteudo-principal-apresentacao-um-logos-botao {
        bottom: 30px;
    }

    .conteudo-principal-apresentacao-um-logos-botao-logo {
        width: 40px;
        height: 40px;
    }

    .conteudo-principal-apresentacao-dois {
        width: 100%;
        height: 110vh;
    }
    
    
}

/*---------- Responsividade celular ----------*/
